.gauge
  position: absolute
  &__scale
    position: absolute

.unit
  $z-index-effect-container: 200
  $z-index-animation-container: 100
  $z-index-hit-points-gauge: 1
  $z-index-icon: 0
  width: $square-width
  height: $square-height
  &.unit--ally
    color: blue
    .unit__hit-points-gauge .gauge__scale
      background-color: blue
  &.unit--enemy
    color: red
    .unit__hit-points-gauge .gauge__scale
      background-color: red
  &__state-change-effect-container
    position: absolute
    width: 100%
    height: 100%
    z-index: $z-index-effect-container
  &__animation-container
    position: absolute
    width: 100%
    height: 100%
    z-index: $z-index-animation-container
  &__hit-points-gauge
    bottom: 4px
    left: 8px
    z-index: $z-index-hit-points-gauge
    background-color: #ffffff
  &__icon
    position: absolute
    display: block
    top: 8px
    left: 8px
    width: 32px
    height: 32px
    z-index: $z-index-icon
    animation-name: unit-breathing
    animation-duration: 1s
    animation-iteration-count: infinite
    animation-direction: alternate
    @keyframes unit-breathing
      0%
        transform: translateY(-1px)
        text-shadow: 5px 5px #aaa
      100%
        transform: translateY(1px)
        text-shadow: 3px 3px #aaa

.square
  position: absolute
  width: $square-width
  height: $square-height
  background-color: #fff
  border: 1px solid $app-background-color
  &.square--landform-castle
    background-color: #808000
  &.square--landform-desert
    background-color: #ffff00
  &.square--landform-forest
    background-color: #008000
  &.square--landform-fort
    background-color: #c0c0c0
  &.square--landform-grassfield
    background-color: #00ff00
  &.square--landform-mountain
    background-color: #808080
  &.square--landform-river
    background-color: #00ffff
  &.square--landform-road
    background-color: #efefef

.square-matrix
  $z-index-touchpad: 9999
  $z-index-cursor: 300
  $z-index-bullet: 200
  $z-index-square-based-animation-container: 100
  $z-index-unit-layer-2: 2
  $z-index-unit-layer-1: 1
  position: relative;
  overflow: hidden
  &__touchpad
    position: absolute;
    width: 100%
    height: 100%
    z-index: $z-index-touchpad
  &__cursor
    position: absolute;
    width: $square-width
    height: $square-height
    z-index: $z-index-cursor
    border: 2px solid #ff5f00
  &__bullet
    position: absolute
    z-index: $z-index-bullet
  &__square-based-animation-container
    position: absolute;
    width: 100%
    height: 100%
    z-index: $z-index-square-based-animation-container
  &__unit
    position: absolute;
  &__unit--layer-two
    z-index: $z-index-unit-layer-2
  &__unit--layer-one
    z-index: $z-index-unit-layer-1
  &__unit--is-alive
    transition: top $tick-interval * 4 + ms ease, left $tick-interval * 4 + ms ease

.bullet
  width: 8px
  height: 8px
  background-color: red

.root
  margin: 0 auto
  position: relative
  width: $app-width
  height: $app-height
  z-index: $z-index-base
  background-color: $app-background-color
  color: $app-color
  &__status-bar
    height: 28px
    background-color: gray
    ul
      display: flex
      justify-content: center
      li
        margin-right: 10px
  &__battle-board
    // width/height are set from JS
    position: relative
    margin: 8px auto 0 auto
  &__square-viewer
    position: relative
    margin: 8px auto 0 auto
    // TODO: Temp
    width: 336px
    height: 48px
    background-color: gray
  &__recruitment-board
    position: relative
    margin: 8px auto 0 auto
    background-color: gray
