/**
 * Root
 */

.root
  margin: 0 auto
  position: relative
  width: $app-width
  height: $app-height
  z-index: $z-index-base
  background-color: $app-background-color
  color: $app-color
  &__status-bar
    height: 24px
    ul
      display: flex
      justify-content: center
      li
        margin-right: 10px
  &__battle-board
    // width/height are set from JS
    position: relative
    margin: 4px auto 0 auto
  &__recruitment-board
    position: relative
    margin: 8px auto 0 auto
  &__square-monitor
    margin-top: 4px
    height: 48px

.square
  position: absolute
  width: $square-width
  height: $square-height
  border: 1px solid $app-color
