/**
 * Variables
 *
 * Must sync to JS variables
 */

// device data
$device-iphone6-width: 375px
$device-iphone6-height: 667px
$device-iphone6-status-bar-height: 20px

// app size
$app-width: $device-iphone6-width
$app-height: $device-iphone6-height - $device-iphone6-status-bar-height

// z-indexes
$z-index-base: 0

// other global variables
$animation-duration-max: 10000ms
$app-color: #000
$app-background-color: #ddd
$square-width: 48px
$square-height: 48px
$tick-interval: 1000 / 20
